@font-face {
    font-family: LoginFont;
    src: url("../fonts/frakturbt.woff2") format("woff2"), url("../fonts/frakturbt.woff") format("woff");
}

@font-face {
    font-family: Head;
    src: url("../fonts/head.woff2") format("woff2"), url("../fonts/head.woff") format("woff");
}

@font-face {
    font-family: NewZelek;
    src: url("../fonts/newzelek.woff2") format("woff2"), url("../fonts/newzelek.woff") format("woff");
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
}

.registration {
    border-radius: 3px;
    line-height: 26px;
    width: 300px;
    height: 520px;
    border: 2px solid black;
    margin-top: -260px;
    margin-left: -150px;
    position: fixed;
    top: 54%;
    left: 50%;
    text-align: center;
}

.login {
    border-radius: 3px;
    line-height: 26px;
    width: 300px;
    height: 350px;
    border: 2px solid black;
    margin-top: -175px;
    margin-left: -150px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
}

.loginError {
    width: 300px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    margin-top: -12px;
    margin-left: -150px;
    position: fixed;
    top: 15%;
    left: 50%;
}

.registrationLoginError {
    width: 305px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    margin-top: -12px;
    margin-left: -152px;
    position: fixed;
    top: 8%;
    left: 50%;
}

.registrationPasswordError {
    width: 320px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    margin-top: -12px;
    margin-left: -159px;
    position: fixed;
    top: 8%;
    left: 50%;
}

.registrationNameError {
    width: 400px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    margin-top: -12px;
    margin-left: -200px;
    position: fixed;
    top: 6%;
    left: 50%;
}


.registrationExistsError {
    width: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid gold;
    margin-top: -12px;
    margin-left: -98px;
    position: fixed;
    top: 8%;
    left: 50%;
}

.error {
    border-radius: 3px;
    line-height: 17px;
    text-align: center;
    font-family: LoginFont, fantasy;
    font-weight: bold;
}

label {
    font-family: LoginFont, fantasy;
}

h3, h4 {
    font-family: Head, fantasy;
}

a {
    font-family: NewZelek, fantasy;
}

input {
    font-family: "Times New Roman", fantasy;
}

.field1 {
    padding-left: 25px;
}

.field2 {
    padding-left: 32px;
}

.field3 {
    padding-left: 5px;
}

.field4 {
    padding-left: 2px;
}

.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 0.9em;
    border-radius: 3px;
    background: rgb(80, 75, 199);
    box-shadow: 0 -3px rgb(52, 31, 167) inset;
    transition: 0.2s;
}

.button:hover {
    background: rgb(144, 150, 167);
}

.button:active {
    background: rgb(16, 14, 147);
    box-shadow: 0 3px rgb(21, 147, 132) inset;
}

.nonDecoration {
    text-decoration: none;
}