@font-face {
    font-family: NewZelek;
    src: url("../fonts/newzelek.woff2") format("woff2"), url("../fonts/newzelek.woff") format("woff");
}

@font-face {
    font-family: Charakterny;
    src: url("../fonts/charakterny.woff2") format("woff2"), url("../fonts/charakterny.woff") format("woff");
}

@font-face {
    font-family: Minecart;
    src: url("../fonts/minecart.woff2") format("woff2"), url("../fonts/minecart.woff") format("woff");
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
    word-break: break-all;
}

.hello {
    width: 30%;
    position: fixed;
    top: 4%;
    left: 12%;
    font-size: 25px;
    font-weight: bold;
    font-family: Charakterny, fantasy;
}

.logout {
    position: fixed;
    top: 4%;
    right: 10%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.logout:hover {
    background: rgb(53, 167, 110);
}

.logout:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.empty {
    font-family: Charakterny, fantasy;
    font-size: 30px;
    padding-top: 2em;
}

.days {
    text-align: center;
    width: 15%;
    height: 10%;
    font-size: 30px;
    font-family: Charakterny, fantasy;
    border: 2px solid #cd3a5d;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(121, 212, 189);
    outline: none;
    position: fixed;
    left: 10%;
    padding-top: 2%;
}

.days:hover {
    background: rgb(49, 232, 221);
}

.days:active {
    background: rgb(0, 152, 150);
}


#today {
    top: 15%;
}

#tomorrow {
    top: 29%;
}

#someday {
    top: 43%;
}

#recycler {
    top: 57%;
}


#date {
    width: 16%;
    position: fixed;
    top: 90%;
    left: 42%;
    font-family: Minecart, fantasy;
}


#tasks {
    text-align: center;
    border: 2px solid #cd3a5d;
    width: 65%;
    height: 56%;
    position: fixed;
    top: 15%;
    left: 25%;
    background-color: antiquewhite;
    overflow-y: auto;
}

#add {
    width: 80%;
    position: fixed;
    top: 80%;
    left: 10%;
    font-family: Charakterny, fantasy;
    font-size: 20px;
}


.space {
    margin-left: 10px;
    margin-right: 10px;
}


.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 0.9em;
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.button:hover {
    background: rgb(53, 167, 110);
}

.button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}


#fileInput {
    display: none;
}

#addFile {
    display: none;
}

.fileUpload label {
    cursor: pointer;
    background: #36c;
    border-radius: 3px;
    padding: 6px 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-right: 10%;
}

.fileUpload label:hover {
    background: #fc0;
}


table {
    border-collapse: collapse;
    color: #686461;
    table-layout: fixed;
    width: 100%;
}

th {
    font-family: NewZelek, fantasy;
    border-bottom: 3px solid #B9B29F;
    padding: 5px;
    text-align: center;
}

td {
    font-family: Charakterny, fantasy;
    font-size: 20px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #E8E6D1;
}


#currentDate {
    width: 10%;
}

#task {
    width: 46%
}

#files {
    width: 22%;
}

#complete {
    width: 12%;
}

#remove {
    width: 10%;
}

.restoreAll {
    width: 11%;
}

.restoreOrRemoveFromRecycler {
    width: 10%;
}

.removedTasks {
    padding-left: 2%;
}
